﻿@model IEnumerable<TPCartelera.Models.Tema>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/Estilos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>
    <form action="@Url.Action("Create")" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div>
            <div>
                <label>Nombre</label>
                <div>
                    <input type="text" name="nombre" />
                </div>
            </div>
            <div>
                <label>Sinopsis</label>
                <div>
                    <input type="text" name="sinopsis" value="" />
                </div>
            </div>
            <div>
                <label>Duracion</label>
                <div>
                    <input type="number" name="duracion" value="" />
                </div>
            </div>
            <div>
                <div>
                    <label>Imagen</label>
                </div>
                <div>
                    <input type="file" name="img" />
                </div>
            </div>
            <div>
                <label>Tema</label>
                <div>
                    <select name="temaid">
                        @foreach (var item in Model)
                        {
                            <option value="@item.ID">"@item.Nombre"</option>
                        }
                    </select>
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
