﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Gallovision </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Estilos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="~/Content/Image/cine1.png" alt="logo" style="width:40px;">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">Inicio</a>
            </li>
            @if (Session["Usuario"] == null)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login","Users")">Login</a>
                </li>
            }
            @if (Session["Usuario"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Create","Funcions")"> Agregar Funcion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Funcions")"> Todas las funciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ElegirPelicula","Peliculas")">Agregar Pelicula</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Peliculas")">Todas las peliculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout","Users")">Desconectar</a>
                </li>
            }

        </ul>
    </nav>
    <div> <br /></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gallovision</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
