﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div><br /></div>
    <div class="container">
        <div class="card border border-danger">
            <div>
                <div class="card-header">
                    <h2>Dou!</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <p> @ViewBag.Error </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>