﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                     <a href="@Url.Action("Create","Comercials")"> Comercial </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="@Url.Action("Create","Documentals")">Documental</a>
            </div>
        </div>
    </div>
</body>
</html>
