﻿@model IEnumerable<TPCartelera.Models.Pelicula>

@{
    ViewBag.Title = "Todas las peliculas";
}
    <head>
        <link href="~/Content/Estilos.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
<h2>Todas las peliculas</h2>


<table class="table">
    <tr>
        <th>
            Tipo
        </th>
        <th>
            Nombre
        </th>
        <th>
            Sinopsis
        </th>
        <th>
            Duracion
        </th>
        <th>
            Actores / Tema
        </th>
        <th>
            Imagen
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item is TPCartelera.Models.Comercial)
        {
            TPCartelera.Models.Comercial pelicula = item as TPCartelera.Models.Comercial;
        <tr>
            <td> Comercial </td>
            <td> @pelicula.Nombre</td>
            <td>@pelicula.Sinopsis</td>
            <td>@pelicula.Duracion minutos</td>
            <td>@pelicula.Actores</td>
            <td><img src="@pelicula.Imagen" alt="Alternate Text" class="img-thumbnail" style="background-size:auto" /></td>
            <td>@Html.ActionLink("Eliminar pelicula", "Delete", new { id = item.ID })</td>
        </tr>
        }
        else
        {
            TPCartelera.Models.Documental pelicula = item as TPCartelera.Models.Documental;
            <tr>
                <td>Documental</td>
                <td>@pelicula.Nombre</td>
                <td>@pelicula.Sinopsis</td>
                <td>@pelicula.Duracion Minutos</td>
                <td>@pelicula.Tema</td>
                <td><img src="@pelicula.Imagen" /></td>
                <td>@Html.ActionLink("Eliminar pelicula", "Delete", new { id = item.ID })</td>
            </tr>
        }

    }

</table>
