﻿.backgroundMEA1 {
    background-image: url(https://images4.alphacoders.com/772/thumb-1920-772364.png);
}

.card-columns {
    @include media-breakpoint-only(lg) 
        column-count: 4;
    }

.peliculasCard {
    background-size: inherit;
    background-repeat:no-repeat;
}
