﻿@model TPCartelera.ViewModels.FuncionView

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/Estilos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <form action="@Url.Action("Create")" method="post">
            @Html.AntiForgeryToken()
            <!--<div>
                <label>Hora Inicio</label>
                <div>
                    <input type="date" name="fecha"/>
                </div>
            </div>-->
            <div>
                <label>Pelicula</label>
                <div>
                    <select name="pelicula">
                        @foreach (var item in Model.Pelicula)
                        {
                            <option value="@item.ID"> @item.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div>
                <label>Sala</label>
                <div>
                    <select name="sala">
                        @foreach (var item in Model.Sala)
                        {
                            <option value="@item.ID">Sala @item.Descripcion - @item.Cine.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div>
                <div>
                    <input type="submit"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>