﻿@model TPCartelera.Models.Funcion

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Funcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pelicula.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pelicula.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sala.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sala.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sala.Cine.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sala.Cine.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
