﻿@model IEnumerable<TPCartelera.Models.Cine>

@{
    ViewBag.Title = "ElegirCine";
}

<h2>ElegirCine</h2>
<div>
    <form action="@Url.Action("Create","Funcions")" method="post">
        <div>
            @Html.AntiForgeryToken()
            <select name="cine">
                @foreach (var item in Model)
                {
                    <option value="@item.ID">@item.Nombre </option>
                }
            </select>
        </div>
        <input type="submit"/>
    </form>
</div>

