﻿@model TPCartelera.ViewModels.FuncionsIndexView


    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Todas las funciones</title>
    </head>
    <body>
        <div>
            <br />
        </div>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center"> Eliminar todas las funciones de una sala</h2>
                </div>
                <div class="card-body">
                    <div>
                        <form action="@Url.Action("BorrarFunciones","Funcions")" method="post">
                            @Html.AntiForgeryToken()
                            <select name="id">
                                @foreach (var item in Model.Salas)
                                {
                                    <option value="@item.ID">@item.Cine.Nombre @item.Descripcion </option>
                                }
                            </select>
                            <input type="submit"/>
                        </form>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Todas las funciones</h2>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Cine</th>
                            <th>Sala</th>
                            <th>Pelicula</th>
                            <th>Horario</th>
                        </tr>
                        @foreach(var item in Model.Funcions)
                        {
                        <tr>
                            <td>@Model.Cines.Single(i => i.ID == item.Sala.CineID).Nombre </td>
                            <td>@item.Sala.Descripcion </td>
                            <td>@item.Pelicula.Nombre </td>
                            <td>@item.HoraInicio.TimeOfDay </td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </body>
    </html>