﻿@model TPCartelera.ViewModels.BuscarView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Harvest vase</title>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>
<body style="background-image:url(https://images4.alphacoders.com/772/thumb-1920-772364.png)">
    <div>
        <div class="card">
            <div class="card-header">
                <h2>@Model.Pelicula.Nombre</h2>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    <div class="">
                        <img src="@Model.Pelicula.Imagen" alt="@Model.Pelicula.Nombre" class="card-img"/>
                    </div>
                    <div style="float: left">
                        <text>@Model.Pelicula.Duracion Minutos</text>
                        <br />
                        @if (Model.Pelicula is TPCartelera.Models.Comercial)
                        {
                            TPCartelera.Models.Comercial aux = Model.Pelicula as TPCartelera.Models.Comercial;
                            <h4>Actores</h4>
                            <p>@aux.Actores</p>
                        }
                        else
                        {
                            TPCartelera.Models.Documental aux = Model.Pelicula as TPCartelera.Models.Documental;
                            <h4>@Model.Temas.Single(i => i.ID == aux.TemaID ).Nombre </h4>
                        }
                        <p>@Model.Pelicula.Sinopsis</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table">
                <tr class="table thead-dark">
                    <th>Cine</th>
                    <th>Sala</th>
                    <th>Horario</th>
                </tr>
                @foreach (var item in Model.Funciones)
                {
                    <tr class="table-striped table-dark text-dark">
                        <td>@Model.Cines.Single(i => i.ID == item.Sala.CineID ).Nombre </td>
                        <td>@item.Sala.Descripcion </td>
                        <td>@item.HoraInicio.TimeOfDay </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
