﻿@model TPCartelera.ViewModels.BusquedaPersonalizada

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Busqueda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="~/Content/Estilos.css" rel="stylesheet" />
</head>
<body style="background-image: url(http://hdqwalls.com/wallpapers/john-wick-chapter-3-2019-ce.jpg)">
    <div>
        @if (Model.Peliculas != null)
        {
        <div>
            <div class="container">
                <div class="card row">
                    <div class="card-header">
                        <h2 style="text-justify:auto">Resultados de las busqueda</h2>
                    </div>
                    <div class="card-body card-columns">
                        <div>
                            @foreach (var item in Model.Peliculas)
                            {
                                if (item is TPCartelera.Models.Comercial)
                                {
                                <div class="card bg-danger" style="width: auto; ">
                                    <img class="card-img-top" src="@item.Imagen" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Nombre</h5>
                                        <p class="card-text">@item.Sinopsis</p>
                                    </div>
                                    <div class="text-center">
                                        <form action="@Url.Action("BuscarFuncion","Home")" method="post">
                                            <input type="hidden" name="idpel" value="@item.ID" />
                                            <input type="hidden" name="idcine" value="@Model.Cine" />
                                            <input type="submit" class="btn btn-warning btn-group-sm" value="Buscar funciones" />
                                        </form>
                                    </div>
                                    <div><br /></div>
                                </div>

                                }
                                else
                                {
                                <div class="card bg-success" style="width: auto; ">
                                    <img class="card-img-top" src="@item.Imagen" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Nombre</h5>
                                        <p class="card-text">@item.Sinopsis</p>
                                    </div>
                                    <div class="text-center">
                                        <form action="@Url.Action("BuscarFuncion","Home")" method="post">
                                            <input type="hidden" name="idpel" value="@item.ID " />
                                            <input type="hidden" name="idcine" value="@Model.Cine" />
                                            <input type="submit" class="btn btn-warning btn-group-sm" value="Buscar funciones" />
                                        </form>
                                    </div>
                                    <div><br /></div>
                                </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        else
        {
            <div class="container">
                <div class="card bg-danger">
                    <div class="card-text">
                        <h2> Su consulta no arrojo ningun resultado </h2>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>

    </div>        
</body>
</html>
