﻿@model TPCartelera.ViewModels.IndexView

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>EstrenosPrime</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="~/Content/Estilos.css" rel="stylesheet" />
</head>
<body style="background-image: url(https://wallpapercave.com/wp/wp2067625.jpg)">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="card col-sm-5">
                    <div class="card-header">
                        <h2 style="text-justify:auto">Busque funciones</h2>
                    </div>
                    <div class="card-body ">
                        <form action="@Url.Action("BuscarFuncion","Home")" method="post">
                            @Html.AntiForgeryToken()
                            <div>
                                <select class="custom-select" name="idcine">
                                    <option value="0"> - Todos los cines -</option>
                                    @foreach (var item in Model.Cine)
                                    {
                                        <option value="@item.ID"> @item.Nombre </option>
                                    }
                                </select>
                            </div>
                            <br />
                            <div>
                                <select name="idpel" class="custom-select">
                                    @foreach (var item in Model.Pelicula)
                                    {
                                        <option value="@item.ID"> @item.Nombre </option>
                                    }
                                </select>
                            </div>
                            <br />
                            <div>
                                <input type="submit" class="btn-dark" />
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="card col-sm-5">
                    <div class="card-header">
                        <h2 style="text-justify:auto">Busqueda personalizada</h2>
                    </div>
                    <div class="card-body">
                        <div>
                            <form action="@Url.Action("BusquedaPersonalizada","Home")" method="post">
                                @Html.AntiForgeryToken()
                                <div>
                                    <input type="text" name="texto" class="" />
                                </div>
                                <div><br /></div>
                                <div>
                                    <select name="cine">
                                        <option value="0">- Todos los Cines -</option>
                                        @foreach( var item in Model.Cine)
                                        {
                                            <option value="@item.ID"> @item.Nombre</option>
                                        }
                                    </select>
                                </div>
                                <div>
                                    <input type="submit" class="btn-dark"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><br /></div>
        <div class="container">
            <div class="card row">
                <div class="card-header">
                    <h2 style="text-justify:auto">Todas las Peliculas</h2>
                </div>
                <div class="card-body card-columns">
                    <div>
                        @foreach (var item in Model.Pelicula)
                        {
                            if (item is TPCartelera.Models.Comercial)
                            {
                            <div class="card bg-danger" style="width: auto; ">
                                <img class="card-img-top" src="@item.Imagen" alt="Card image cap" style="background-size:inherit">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Nombre</h5>
                                    <p class="card-text">@item.Sinopsis</p>
                                </div>
                                <div class="text-center">
                                    <form action="@Url.Action("BuscarFuncion","Home")" method="post">
                                        <input type="hidden" name="idpel" value="@item.ID" />
                                        <input type="hidden" name="idcine" value="0" />
                                        <input type="submit" class="btn btn-warning btn-group-sm" value="Buscar funciones" />
                                    </form>
                                </div>
                                <div><br /></div>
                        </div>
                            }
                            else
                            {
                            <div class="card bg-success" style="width: auto; ">
                                <img class="card-img-top" src="@item.Imagen" alt="Card image cap" style="background-size: inherit">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Nombre</h5>
                                    <p class="card-text">@item.Sinopsis</p>
                                </div>
                                <div class="text-center">
                                    <form action="@Url.Action("BuscarFuncion","Home")" method="post">
                                        <input type="hidden" name="idpel" value="@item.ID" />
                                        <input type="hidden" name="idcine" value="0" />
                                        <input type="submit" class="btn btn-warning btn-group-sm" value="Buscar funciones"/>
                                    </form>
                                </div>
                                <div><br /></div>
                            </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>